{{- /* Need root context for items outside of the row context (hence "$.statusClass" ) */}}
{{- /* because range makes us lose the page context */}}
{{ $dateFormat := "2006-01-02 15:04:05" }}
<tr>
    <td>{{ .context.datetimeFirstPosted  | time.Format $dateFormat }}</td>
    <td>
        <span class="badge bg-{{ $.statusClass }}">{{ .context.status }}</span>
    </td>
    <td>{{ .context.servicesAffected }}</td>
    <td>{{ .context.textSummary }}</td>
    <td>
        {{ .context.datetimeLatestUpdate | time.Format $dateFormat }}: {{ .context.latestUpdate }}
        {{ if .context.url }}
            | <a href="{{ .context.url }}" class="btn btn-sm btn-primary" role="button" target="_blank">Learn more</a>
        {{ end }}
    </td>
</tr>